
:root{
    --text-clr: #e1f1f9;
    --background-clr: #081c26;
    --primary-clr: #5d1344;
    --secondary-clr: #041016;
    --accent-clr: #cde995;
}

#productsContainer{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    text-align:center;
}
.productImg{
    height: 20rem;
    border-radius: 2rem;
}
.productBoxes{
    margin: 5rem;
    border: .6rem solid var(--primary-clr);
    background-color: var(--secondary-clr);
    border-radius: 3rem;
}
.productBoxes p{
    color: var(--text-clr);
}
#productButton{
    border: none;
    padding: 1.2rem;
    margin: 1rem;
    border-radius: 1rem;
    background-color: var(--primary-clr);
}
#productButton:active {
    background-color: #4f2058;
    transform: translateY(4px);
}

